/*============ HEADER =============*/

.hitech-logo {
	width: 100px;
}

.footer__logo img, 
.hitech-logo img {
	width: 100%;
}

.footer__logo {
	width: 150px;
}

.mapClass {
	padding: 2px 30px 0 0px;
}

.mapClass iframe {
	border-radius: 10px;
}

.main-menu {
	position: relative;
    z-index: 5555555;
    height: 80px;
    width: 100%;
}

@media (max-width: 576px) {
	
	.mapClass {
		padding: 0px;
	}

}


.main-menu__wrapp {
	max-height: 80px;
}

.main-menu {
	height: 200px;
}

.mm-banner {
	margin: 0 auto;
	height: 120px;
	width: 99%;
}

@media (min-width: 576px) {
	.mm-banner {
		width: 540px;
	}
}

@media (min-width: 768px) {
	.mm-banner {
		width: 740px;
	}
}

@media (min-width: 992px) {
	.mm-banner {
		width: 960px;
	}
}

@media (min-width: 1200px) {
	.mm-banner {
		width: 1140px;
	}
}


@media (min-width: 1380px) {
	.mm-banner {
		width: 1320px;
		box-sizing: border-box;
		padding: 0 16px;
	}
}

.mm-banner * {
	color: #fff;
}

.mm-banner h2 {
	font-weight: 700;
	margin-bottom: 5px;
	margin-top: 30px;
	font-family: "Fira Sans";
}

.mm-banner p {
	margin-top: 5px;
}
main {
	margin-top: -40px;
	background-color: #fff;
}

/* 
.submenu__wrapp{
	padding-top: 200px;
} */

.wrappy {
	width: 100%;
	position: fixed;
}

 @media (max-width: 576px) {
/* 	.wrappy {
	position: static !important;
}
.main-menu {
	position: static !important;
} */
	.cities {
		width: 100%;
	}
} 

.fixed-wrapp {
	width: 100%;
	top: 0;
	position: fixed;
	z-index: -1;
	overflow: hidden;
}
.fixed-wall {
    width: 100%;
    height: 200px;
    top: 0;
    background: url(../img/banner-1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	transition: 0.5s filter linear, 0.5s -webkit-filter linear;
}

.fixed-space {
	height: 200px;
	width: 100%;
	display: none;
}

.filter-wall {
	filter: brightness(50%);
	-webkit-filter: brightness(50%);
} 

@media (max-width: 576px) {
	.fixed-wrapp {
		display: none;
	}
	.fixed-space {
		display: none !important;
	}
	.main-menu {
		height: 60px !important;
	}
	.main-menu__inner,
	.animation_svg {
		display: none;
		
	}
	.wrappy {
		background-color: #320276;
		z-index: 999999;
	}
}
/************************ svg*****************/

.svg_banner {
	width: 100%;
	z-index: -1;
	height: 160px;
	margin: 0 auto;
}
.animation_svg {
	position: relative;
	height: 80px;
	width: 200%;
	left: -80%;
	position: fixed;
	top: 0;
	visibility: hidden;
	margin: 0 auto;
 	overflow: hidden; 
	opacity: 0.1;
	perspective: 100%;

}

.svg11 {margin-top: -40px;}
.svg12 {margin-top: -200px;margin-left: 5%;}
.svg13 {margin-top: -360px;margin-left: 20%;}
.svg14 {margin-top: -520px; margin-right: 5%;}




/* .hitech-logo {
	perspective: 100px;
}

.hitech-logo img {
    animation: transform 10s infinite;
}

   @keyframes transform {
      from {
        transform: rotateY(50deg) rotateX(0deg) rotateZ(10deg);
      }
      33% {
		transform: rotateY(-70deg) rotateX(-50deg) rotateZ(-20deg);
      }
      66% {
        transform: rotateY(-20deg) rotateX(0deg) rotateZ(-10deg);
      }      
      to {
        transform: rotateY(50deg)  rotateZ(10deg); 
      }
   } */


.main_svg {
	width: 90%;
}
.main_svg_img {
	width: 100%;
}

@media (min-width: 1200px) {
	.main_svg {
		margin-left: 5%;
	}
}