/*============ HEADER =============*/

.hitech-logo {
	width: 100px;
}

.footer__logo img, 
.hitech-logo img {
	width: 100%;
}

.footer__logo {
	width: 150px;
}

.mapClass {
	padding: 2px 30px 0 0px;
}

.mapClass iframe {
	border-radius: 10px;
}



.main-menu {
	position: relative;
    z-index: 5555555;
    background-color: #0aa440;
    height: 80px;
    width: 100%;
}


