/*============ HEADER =============*/

.hitech-logo {
	width: 100px;
}

.footer__logo img, 
.hitech-logo img {
	width: 100%;
}

.footer__logo {
	width: 150px;
}

.mapClass {
	padding: 2px 30px 0 0px;
}

.mapClass iframe {
	border-radius: 10px;
}



.main-menu {
	position: relative;
    z-index: 5555555;
    background-color: #0aa440;
    height: 80px;
    width: 100%;
}

@media (max-width: 576px) {
	
.mapClass {
	padding: 0px;
}


}


.main-menu__wrapp {
	max-height: 80px;
}

.main-menu {
	height: 200px;
	background: url(../img/banner-1.jpg);
	background-size: 100% !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}

.mm-banner {
	margin: 0 auto;
	height: 120px;
	width: 99%;
}

@media (min-width: 576px) {
	.mm-banner {
		width: 540px;
	}
}

@media (min-width: 768px) {
	.mm-banner {
		width: 740px;
	}
}

@media (min-width: 992px) {
	.mm-banner {
		width: 960px;
	}
}

@media (min-width: 1200px) {
	.mm-banner {
		width: 1140px;
	}
}


@media (min-width: 1380px) {
	.mm-banner {
		width: 1320px;
		box-sizing: border-box;
		padding: 0 16px;
	}
}

.mm-banner * {
	color: #fff;
}

.mm-banner h2 {
	font-weight: 700;
	margin-bottom: 10px;
	margin-top: 30px;
	font-family: "Fira Sans";
}

main {
	margin-top: -40px;
}