._hidden {
    display: none;
}
.main-menu {
    position: relative;
    z-index: 3;
    background-color: #0aa440;
}
@media all and (min-width:600px) {
    .main-menu._noBg {
    background-color: transparent;
}
}.main-menu__wrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 64px;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    z-index: 1;
}
@media all and (min-width:600px) {
    .main-menu__wrapp {
    max-width: 600px;
    padding: 0 12px;
}
}@media all and (min-width:960px) {
    .main-menu__wrapp {
    height: 80px;
    max-width: 960px;
    padding: 0 24px;
}
}@media all and (min-width:1200px) {
    .main-menu__wrapp {
    padding: 0 16px;
    max-width: 1180px;
}
}@media all and (min-width:1380px) {
    .main-menu__wrapp {
    max-width: 1320px;
    padding: 0 16px;
}
}.main-menu__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    outline: 0;
    text-decoration: none;
}
@media all and (min-width:960px) {
    .main-menu__logo {
    margin-right: 24px;
}
}@media all and (min-width:1200px) {
    .main-menu__logo {
    margin-right: 18px;
}
}.main-menu__logo-name {
    display: none;
}
@media all and (min-width:600px) {
    .main-menu__logo-name {
    margin: 9px 0 6px 10px;
    display: block;
}
}.main-menu__services-link {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -.2px;
    cursor: pointer;
    padding-left: 18px;
    border-left: 1px solid rgba(255, 255, 255, .19);
    display: none;
}
@media all and (min-width:600px) {
    .main-menu__services-link {
    display: block;
}
}@media all and (min-width:960px) {
    .main-menu__services-link {
    margin-right: auto;
}
}@media all and (min-width:1200px) {
    .main-menu__services-link {
    margin: 0 24px 0 0;
}
}.main-menu__services-link span {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    height: 100%}
.main-menu__services-link span:before {
    content: '';
    border-bottom: 1px dashed #fff;
    bottom: 5px;
    left: 0;
    right: 0;
    position: absolute;
    -webkit-transition: border-bottom-color .3s ease-in-out;
    transition: border-bottom-color .3s ease-in-out;
}
.cd-notouch .main-menu__services-link span:hover:before {
    border-color: transparent;
}
.main-menu__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    margin-left: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
@media all and (min-width:960px) {
    .main-menu__inner {
    margin-right: 24px;
}
}@media all and (min-width:1200px) {
    .main-menu__inner {
    margin-left: auto;
}
}.main-menu__nav {
    margin: 0 16px 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
}
@media all and (min-width:1200px) {
    .main-menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
}.main-menu__link {
    margin: 0 12px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -.2px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom-color .3s ease-in-out;
    transition: border-bottom-color .3s ease-in-out;
}
.cd-notouch .main-menu__link:hover {
    border-bottom-color: #fff;
}
.main-menu__btn {
    height: 40px;
    padding: 7px;
    font-size: 15px;
    font-weight: 500;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(63, 63, 63, .3);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
    transition: background-color .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out, background-color .2s ease-in-out;
    transition: box-shadow .2s ease-in-out, background-color .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
    display: none;
}
@media all and (min-width:600px) {
    .main-menu__btn {
    margin: 0 8px;
}
}@media all and (min-width:960px) {
    .main-menu__btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 7px 24px 7px 16px;
    margin-left: auto;
    margin-right: 0;
}
}.main-menu__btn--burger {
    margin-right: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
@media all and (min-width:600px) {
    .main-menu__btn--burger {
    margin-left: 16px;
}
}@media all and (min-width:960px) {
    .main-menu__btn--burger {
    margin-left: 8px;
}
}@media all and (min-width:1200px) {
    .main-menu__btn--burger {
    display: none;
}
}.cd-notouch .main-menu__btn:hover {
    -webkit-box-shadow: 0 5px 3px -3px rgba(0, 0, 0, .16), inset 0 0 0 2px rgba(0, 0, 0, .05);
    box-shadow: 0 5px 3px -3px rgba(0, 0, 0, .16), inset 0 0 0 2px rgba(0, 0, 0, .05);
    background-color: rgba(63, 63, 63, .2);
}
.cd-notouch .main-menu__btn:active {
    background-color: rgba(63, 63, 63, .45);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.main-menu__btn._no-text {
    padding: 10px;
}
.main-menu__btn svg {
    fill: #fff;
    width: 26px;
    height: 26px;
}
.main-menu__btn span {
    margin-left: 6px;
    display: none;
}
@media all and (min-width:960px) {
    .main-menu__btn span {
    display: block;
}
}.main-menu__phone {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    margin: 0 auto;
}
@media all and (min-width:600px) {
    .main-menu__phone {
    margin: 0;
    margin-left: auto;
}
}@media all and (min-width:960px) {
    .main-menu__phone {
    margin-left: 8px;
}
}@media all and (min-width:1200px) {
    .main-menu__phone {
    -webkit-transition: border-bottom-color .3s ease-in-out;
    transition: border-bottom-color .3s ease-in-out;
    border-bottom: 1px dashed #fff;
}
}@media all and (min-width:1380px) {
    .main-menu__phone {
    margin-left: 8px;
}
}.cd-notouch .main-menu__phone:hover {
    border-bottom-color: transparent;
}
.main-menu__search {
    display: none;
}
@media all and (min-width:960px) {
    .main-menu__search {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    -webkit-transition: width .3s ease-in-out .3s;
    transition: width .3s ease-in-out .3s;
    will-change: width;
}
.main-menu__search:not(._hidden) {
    width: 100%}
}.main-menu .cd-input__wrapper {
    position: relative;
}
.main-menu .cd-input__wrapper svg {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    fill: #333;
    cursor: pointer;
}
.main-menu .cd-input._iconed-right svg {
    right: 8px;
    height: 26px;
    width: 26px;
}
.main-menu .cd-input._iconed-right .cd-input__field {
    padding-right: 48px;
}
.main-menu .cd-input__field {
    color: #333;
    font-family: "Fira Sans", sans-serif;
    padding: 10px 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -.4px;
    height: 48px;
    border: none;
    width: 100%;
    -webkit-box-shadow: 0 3px 8px -4px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 8px -4px rgba(0, 0, 0, .5);
    border-radius: 20px;
    background-color: #fff;
}
.main-menu .cd-input__field::-webkit-input-placeholder {
    color: #b0b0b0;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.main-menu .cd-input__field::-moz-placeholder {
    color: #b0b0b0;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.main-menu .cd-input__field:-ms-input-placeholder {
    color: #b0b0b0;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.main-menu .cd-input._large .cd-input__field {
    height: 56px;
    padding: 14px;
    font-size: 17px;
}
.main-menu .cd-input._large .cd-input__field::-webkit-input-placeholder {
    font-size: 17px;
}
.main-menu .cd-input._large .cd-input__field::-moz-placeholder {
    font-size: 17px;
}
.main-menu .cd-input._large .cd-input__field:-ms-input-placeholder {
    font-size: 17px;
}
.main-menu .cd-input._large._iconed-left svg {
    left: 13px;
    height: 33px;
    width: auto;
}
.main-menu .cd-input._large._iconed-left .cd-input__field {
    padding-left: 56px;
}
.main-menu .cd-input._large._iconed-right svg {
    right: 13px;
    height: 33px;
    width: auto;
}
.main-menu .cd-input._large._iconed-right .cd-input__field {
    padding-right: 56px;
}
.main-menu .cd-input._small .cd-input__field {
    height: 40px;
    padding: 6px 14px;
    font-size: 14px;
}
.main-menu .cd-input._small .cd-input__field::-webkit-input-placeholder {
    font-size: 14px;
}
.main-menu .cd-input._small .cd-input__field::-moz-placeholder {
    font-size: 14px;
}
.main-menu .cd-input._small .cd-input__field:-ms-input-placeholder {
    font-size: 14px;
}
.main-menu .cd-input._small._iconed-left svg {
    left: 11px;
    height: 26px;
    width: auto;
}
.main-menu .cd-input._small._iconed-left .cd-input__field {
    padding-left: 42px;
}
.main-menu .cd-input._small._iconed-right svg {
    right: 11px;
    height: 26px;
    width: 26px;
}
.main-menu .cd-input._small._iconed-right .cd-input__field {
    padding-right: 42px;
}
.m-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-transition: background .3s linear, -webkit-transform .5s cubic-bezier(.31, .33, .18, .91) .3s;
    transition: background .3s linear, -webkit-transform .5s cubic-bezier(.31, .33, .18, .91) .3s;
    transition: transform .5s cubic-bezier(.31, .33, .18, .91) .3s, background .3s linear;
    transition: transform .5s cubic-bezier(.31, .33, .18, .91) .3s, background .3s linear, -webkit-transform .5s cubic-bezier(.31, .33, .18, .91) .3s;
    will-change: transform, background;
    background: 0 0;
    z-index: 5;
}
.m-menu._opened {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    background: rgba(0, 0, 0, .5);
    -webkit-transition: background .3s linear .5s, -webkit-transform .5s cubic-bezier(.31, .33, .18, .91);
    transition: background .3s linear .5s, -webkit-transform .5s cubic-bezier(.31, .33, .18, .91);
    transition: transform .5s cubic-bezier(.31, .33, .18, .91), background .3s linear .5s;
    transition: transform .5s cubic-bezier(.31, .33, .18, .91), background .3s linear .5s, -webkit-transform .5s cubic-bezier(.31, .33, .18, .91);
    will-change: transform, background;
}
.m-menu__wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    width: 272px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 76px 22px 10px;
    -webkit-box-shadow: 0 2px 23px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 23px rgba(0, 0, 0, .5);
    background-color: #1fb14f;
}
.m-aside-close {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 27px;
    right: 18px;
    background: rgba(0, 0, 0, .05) url(../img/oah-cancel-white.svg) center no-repeat;
    border: none;
    outline: 0;
}
.m-aside-close--dark {
    background-image: url(../img/oah-cancel.svg);
}
.m-nav {
    padding: 0 11px 0 9px;
    margin-bottom: 47px;
}
.m-nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding-bottom: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
    margin-bottom: 13px;
    display: block;
}
.m-nav__link:last-child {
    margin-bottom: 0;
}
.m-nav__link--colored {
    color: #ffe25a;
    border-bottom-color: rgba(255, 226, 90, .25);
}
.m-filials {
    margin-top: 31px;
    padding: 0 9px;
}
.m-filials__title {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    padding-left: 38px;
    position: relative;
    margin-bottom: 20px;
}
.m-filials__title:before {
    content: '';
    width: 26px;
    height: 26px;
    background: url(../img/oah-location-white.svg) center no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
}
.m-filials__list {
    padding: 0;
    list-style: none;
    margin: 0;
}
.m-filials__item {
    margin-bottom: 20px;
    color: #fff;
}
.m-filials__item:last-child {
    margin-bottom: 0;
}
.m-filials__name {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
}
.m-filials__link {
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    margin-top: -9px;
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
.services {
    padding: 32px;
    position: absolute;
    top: 50px;
    -webkit-box-shadow: 0 10px 20px -10px rgba(0, 0, 0, .5);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, .5);
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
    max-width: 592px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999999;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
}
@media all and (min-width:960px) {
    .services {
    padding: 24px 32px;
    max-width: 876px;
}
}@media all and (min-width:1200px) {
    .services {
    padding: 32px 32px 40px 32px;
}
}@media all and (min-width:1380px) {
    .services {
    max-width: 1068px;
}
}.services._opened {
    display: block;
}
.services__close {
    position: absolute;
    top: 32px;
    right: 24px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 3px -3px rgba(176, 176, 176, .27), inset 0 0 0 2px #dfdfdf;
    box-shadow: 0 5px 3px -3px rgba(176, 176, 176, .27), inset 0 0 0 2px #dfdfdf;
    background-color: #fafaf9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media all and (min-width:960px) {
    .services__close {
    top: 24px;
    right: 24px;
}
}@media all and (min-width:1200px) {
    .services__close {
    top: 32px;
    right: 32px;
}
}.services__close svg {
    width: 32px;
    height: 32px;
}
.services__title {
    color: #7f7f7f;
    font-size: 30px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: -1.2px;
    margin: 0 0 8px 0;
}
@media all and (min-width:960px) {
    .services__title {
    margin-bottom: 16px;
}
}.services__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media all and (min-width:960px) {
    .services__inner {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
}.services__layout {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 244px;
    flex: 1 1 244px;
    margin-bottom: 24px;
}
@media all and (min-width:960px) {
    .services__layout {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 244px;
    flex: 0 0 244px;
    max-width: 244px;
    margin-bottom: 0;
    margin-right: 40px;
}
}@media all and (min-width:1380px) {
    .services__layout {
    -ms-flex-preferred-size: 304px;
    flex-basis: 304px;
    max-width: 304px;
    margin-right: 48px;
}
}.services__layout:first-child {
    margin-right: 40px;
}
@media all and (min-width:1380px) {
    .services__layout: first-child {
    margin-right: 48px;
}
}.services__layout:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}
@media all and (min-width:960px) {
    .services__layout: last-child {
    display: block;
}
}.services__layout-inner {
    margin-right: 40px;
}
@media all and (min-width:960px) {
    .services__layout-inner {
    margin-right: 0;
}
}.services__list {
    margin: 0 0 32px 0;
}
@media all and (min-width:1200px) {
    .services__list {
    margin-bottom: 40px;
}
}.services__list:last-child {
    margin-bottom: 0;
}
.services__list-title {
    color: #25354f;
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 24px 0;
    padding-bottom: 4px;
    border-bottom: 1px solid #cfcfcf;
    text-transform: uppercase;
    display: inline-block;
}
.services__list-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 24px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.services__list-link {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    outline: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -.19px;
    margin-bottom: 8px;
}
@media all and (min-width:960px) {
    .services__list-link {
    margin-bottom: 16px;
}
}@media all and (min-width:1200px) {
    .services__list-link: hover {
    text-decoration: underline;
}
}.services__list-link:last-child {
    margin-bottom: 0;
}
.services__list-link._highlighted {
    font-weight: 500;
    color: #d64c8d;
}
.services__contacts {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 232px;
    flex: 0 1 232px;
    max-width: 232px;
}
@media all and (min-width:960px) {
    .services__contacts {
    -ms-flex-preferred-size: 244px;
    flex-basis: 244px;
    max-width: 244px;
    margin-top: 64px;
}
}@media all and (min-width:1200px) {
    .services__contacts {
    margin-top: 72px;
}
}.services__phone {
    margin-bottom: 40px;
}
.services__contacts-title, .services__phone-title {
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -.2px;
    margin: 0 0 8px 0;
}
.services__phone-number {
    color: inherit;
    font-family: inherit;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -.3px;
    text-decoration: none;
    outline: 0;
}
.services__contacts-title {
    margin-bottom: 16px;
}
.services__contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.services__contacts-layout {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 58px;
    flex: 1 1 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
@media all and (min-width:1380px) {
    .services__contacts-layout {
    -ms-flex-preferred-size: 112px;
    flex-basis: 112px;
}
}.services__contacts-layout:last-child {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}
.popup {
    position: fixed;
    background-color: #fff;
    border-radius: 4px;
    color: #212121;
    display: none;
    padding: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 2px 23px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 23px rgba(0, 0, 0, .5);
    width: 320px;
    top: 68px;
    z-index: 99999999;
}
.popup p {
    margin: 0;
}
.popup ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.popup--centered {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.popup--location {
    max-width: 246px;
    background: #fff url(../img/oah-location-bg.svg) -30px -30px no-repeat;
    background-size: 104px 104px;
    position: absolute;
    right: 0;
}
.popup--login {
    max-width: 320px;
    background: #fff url(../img/oah-user-bg.svg) -30px -30px no-repeat;
    background-size: 104px 104px;
    right: 2%;
    z-index: 9999999;
}
.popup__title {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 30px;
}
.popup__subtitle {
    margin-top: 10px;
}
.popup__close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, .05) url(../img/oah-cancel.svg) center no-repeat;
    cursor: pointer;
    border-radius: 50%}
.popup__result {
    display: none;
}
.location-list {
    padding-left: 10px;
    margin: 15px 0 0 0;
}
.location-list__item {
    margin-top: 15px;
}
.location-list__item:last-child .pf-location-list__name {
    color: #333;
}
.location-list__item:last-child .pf-location-list__phone {
    font-size: 22px;
    font-weight: 600;
}
.location-list__name {
    color: #0169d9;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}
.location-list__phone {
    font-size: 21px;
    font-weight: 400;
    line-height: 40px;
    margin-top: -8px;
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
.form__btn {
    margin-top: 24px;
}
.form__form {
    margin-top: 10px;
}
.form__field, .form__label {
    display: block;
    margin-top: 20px;
}
.form__field--required .pf-form__field-title:after, .form__label--required .pf-form__field-title:after {
    content: ' *';
    color: #ff4141;
}
.form__required .pf-form__field-title:after, .form__required .pf-form__label-title:after {
    content: ' *';
    color: #ff4141;
}
.form__link {
    float: right;
    color: #0169d9;
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}
.form__field-title, .form__label-title {
    color: #333;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
}
.form__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    outline: 0;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 2px solid #c2c2c2;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 13px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #333;
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}
.form__input:focus {
    -webkit-box-shadow: 0 1px 2px #fadca0;
    box-shadow: 0 1px 2px #fadca0;
    border: 2px solid #fbb017;
    background-color: #fffaf1;
}
.form__input--error {
    background: #fff5f4;
    border: 2px solid #f9614d;
    -webkit-box-shadow: 0 1px 2px 0 #ee899a;
    box-shadow: 0 1px 2px 0 #ee899a;
    border-radius: 6px;
}
._overlay {
    display: none;
    background-color: #212121;
    opacity: .43;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 4;
}
.submenu {
    background-color: #fff;
    font-family: 'Fira Sans', sans-serif;
    display: none;
}
@media all and (min-width:960px) {
    .submenu {
    display: block;
}
}.submenu__wrapp {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    z-index: 1;
}
@media all and (min-width:600px) {
    .submenu__wrapp {
    max-width: 600px;
    padding: 0 12px;
}
}@media all and (min-width:960px) {
    .submenu__wrapp {
    max-width: 960px;
    padding: 0 24px;
}
}@media all and (min-width:1200px) {
    .submenu__wrapp {
    padding: 0 16px;
    max-width: 1180px;
}
}@media all and (min-width:1380px) {
    .submenu__wrapp {
    max-width: 1320px;
    padding: 0 16px;
}
}.submenu__inner {
    height: 80px;
    border-bottom: 1px solid #dfdfdf;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.submenu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}
@media all and (min-width:1200px) {
    .submenu__nav {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-right: auto;
}
}.submenu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
@media all and (min-width:1200px) {
    .submenu__item {
    margin-right: 32px;
}
}@media all and (min-width:1380px) {
    .submenu__item {
    margin-right: 40px;
}
}.submenu__item:last-child {
    margin-right: 0;
}
.submenu__link, .submenu__link:visited {
    -webkit-appearance: none;
    text-decoration: none;
    outline: 0;
    color: #212121;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -.2px;
}
.submenu__link:before, .submenu__link:visited:before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    will-change: width;
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    background-color: #25354f;
}
.submenu__link._active:before, .submenu__link:visited._active:before {
    width: 100%}
.submenu__link._sale:after, .submenu__link:visited._sale:after {
    content: '%';
    width: 18px;
    height: 18px;
    background-color: #fb6657;
    border-radius: 50%;
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: -.74px;
    position: absolute;
    left: 100%;
    top: 16px;
    text-align: center;
}
.cd-notouch .submenu__link:hover:before, .cd-notouch .submenu__link:visited:hover:before {
    width: 100%}
.submenu__request-btn {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    display: none;
}
@media all and (min-width:1200px) {
    .submenu__request-btn {
    display: inline-block;
    margin-right: 8px;
}
}@media all and (min-width:1380px) {
    .submenu__request-btn {
    margin-right: 16px;
}
}.submenu__shop-btn {
    padding: 8px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media all and (min-width:1200px) {
    .submenu__shop-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
}.submenu__shop-btn svg {
    width: 32px;
    height: 32px;
}
.m-submenu {
    position: relative;
    z-index: 3;
}
@media all and (min-width:960px) {
    .m-submenu {
    display: none;
}
}.m-submenu__wrapp {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    z-index: 1;
}
@media all and (min-width:600px) {
    .m-submenu__wrapp {
    max-width: 600px;
    padding: 0 12px;
}
}@media all and (min-width:960px) {
    .m-submenu__wrapp {
    max-width: 960px;
    padding: 0 24px;
}
}@media all and (min-width:1200px) {
    .m-submenu__wrapp {
    padding: 0 16px;
    max-width: 1180px;
}
}@media all and (min-width:1380px) {
    .m-submenu__wrapp {
    max-width: 1320px;
    padding: 0 16px;
}
}.m-submenu__inner {
    border-bottom: 1px solid #dfdfdf;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 64px;
}
.m-submenu__list {
    display: none;
    position: absolute;
    top: 100%;
    list-style: none;
    padding: 0;
    background: #fff;
    width: 100%;
    margin: 0;
    -webkit-box-shadow: 0 11px 29px rgba(129, 129, 129, .5);
    box-shadow: 0 11px 29px rgba(129, 129, 129, .5);
    padding-left: 24px;
    min-width: 220px;
}
.m-submenu__link {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #212121;
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -.21px;
    outline: 0;
    text-decoration: none!important;
}
.m-submenu__link._sale span {
    position: relative;
    z-index: 1;
}
.m-submenu__link._sale span:after {
    content: '%';
    width: 18px;
    height: 18px;
    background-color: #fb6657;
    border-radius: 50%;
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: -.74px;
    position: absolute;
    left: 102%;
    top: 0;
    text-align: center;
}
.m-submenu__link--current {
    position: relative;
    z-index: 1;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border: none;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    -webkit-appearance: none;
}
.m-submenu__link--current:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: #00a34b;
}
.m-submenu__link--current._opened svg {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.m-submenu__link--current svg {
    margin-left: 16px;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}
.m-submenu__btn {
    display: none;
}
@media all and (min-width:600px) {
    .m-submenu__btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
}.footer {
    background-color: #f8f6ec;
}
.footer__wrapp {
    padding: 32px 16px 60px 16px;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
@media all and (min-width:600px) {
    .footer__wrapp {
    max-width: 600px;
    padding-left: 12px;
    padding-right: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 32px;
}
}@media all and (min-width:960px) {
    .footer__wrapp {
    max-width: 960px;
    padding: 32px 24px 48px 24px;
}
}@media all and (min-width:1200px) {
    .footer__wrapp {
    padding: 64px 16px 72px 16px;
    max-width: 1180px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
}@media all and (min-width:1380px) {
    .footer__wrapp {
    max-width: 1320px;
    padding-left: 16px;
    padding-right: 16px;
}
}.footer__info {
    padding-left: 30px;
    margin-bottom: 40px;
}
@media all and (min-width:600px) {
    .footer__info {
    padding-left: 16px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 500px;
    flex: 1 0 500px;
    margin-bottom: 16px;
}
}@media all and (min-width:960px) {
    .footer__info {
    padding-left: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 700px;
    flex: 1 0 700px;
    margin-bottom: 32px;
}
}@media all and (min-width:1200px) {
    .footer__info {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 369px;
    flex: 0 0 369px;
    margin-bottom: 0;
    margin-right: 24px;
}
}@media all and (min-width:1380px) {
    .footer__info {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 408px;
    flex: 0 0 408px;
    margin-right: 32px;
}
}.footer__logo {
    margin-bottom: 24px;
    display: inline-block;
    text-decoration: none;
    outline: 0;
}
@media all and (min-width:600px) {
    .footer__logo {
    margin-bottom: 16px;
}
}@media all and (min-width:1200px) {
    .footer__logo {
    margin-bottom: 40px;
}
}.footer__text {
    color: #686868;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    display: none;
}
@media all and (min-width:1200px) {
    .footer__text {
    display: block;
    margin-bottom: 48px;
}
}@media all and (min-width:1380px) {
    .footer__text {
    margin-bottom: 32px;
    max-width: 330px;
}
}.footer__text p {
    margin: 0 0 16px 0;
}
.footer__text p:last-child {
    margin-bottom: 0;
}
.footer__copy {
    color: #656565;
    font-weight: 400;
    margin: 0;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -.35px;
}
@media all and (min-width:600px) {
    .footer__copy {
    margin-bottom: 4px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.3px;
}
}.footer__privacy-link {
    color: #0169d9;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -.35px;
}
@media all and (min-width:600px) {
    .footer__privacy-link {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -.3px;
}
}.footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 30px;
}
@media all and (min-width:600px) {
    .footer__nav {
    padding-left: 0;
}
}@media all and (min-width:960px) {
    .footer__nav {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
}@media all and (min-width:600px) {
    .footer__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 236px;
    flex: 0 0 236px;
    margin-left: 16px;
}
}@media all and (min-width:960px) {
    .footer__column {
    margin-left: 44px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 186px;
    flex: 0 1 186px;
}
}@media all and (min-width:1200px) {
    .footer__column {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 118px;
    flex: 1 1 118px;
    margin-left: 32px;
}
}@media all and (min-width:960px) {
    .footer__column: first-child {
    margin-left: 0;
}
}.footer__group {
    margin-bottom: 40px;
}
@media all and (min-width:960px) {
    .footer__group: last-child {
    margin-bottom: 0;
}
}.footer__group-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 8px 0;
}
@media all and (min-width:960px) {
    .footer__group-title {
    font-size: 14px;
    margin-bottom: 16px;
}
}.footer__group-link-wr {
    margin: 0 0 4px 0;
}
.footer__group-link-wr._inner {
    padding-left: 16px;
    position: relative;
}
.footer__group-link-wr._inner:before {
    content: '';
    width: 7px;
    height: 1px;
    background-color: #9f9f9f;
    position: absolute;
    top: calc(50% - 2px);
    left: 2px;
}
.footer__group-link-wr._inner:after {
    content: '';
    width: 1px;
    height: 7px;
    background-color: #9f9f9f;
    position: absolute;
    top: calc(50% - 5px);
    left: 5px;
}
.footer__group-link {
    color: inherit;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    text-decoration: none;
}
@media all and (min-width:960px) {
    .footer__group-link {
    font-size: 13px;
    line-height: 24px;
}
}.cd-notouch .footer__group-link:hover {
    color: #0169d9;
    text-decoration: underline;
}
.footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 170px;
    margin: 16px 0 32px 0;
}
@media all and (min-width:960px) {
    .footer__socials {
    margin: 24px 0;
}
}@media all and (min-width:1200px) {
    .footer__socials {
    max-width: none;
}
}.footer__callback {
    margin-bottom: 24px;
}
.footer__callback-title {
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    margin: 0;
}
.footer__callback-phone {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: inherit;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}
@media all and (min-width:960px) {
    .footer__callback-phone {
    font-size: 22px;
}
}@media all and (min-width:1380px) {
    .footer__callback-phone {
    font-size: 22px;
}
}.footer__search {
    position: relative;
    z-index: 1;
    margin: 40px 0 24px 0;
}
@media all and (min-width:600px) {
    .footer__search {
    margin-top: 32px;
    margin-bottom: 32px;
}
}@media all and (min-width:960px) {
    .footer__search {
    margin-top: 24px;
    margin-bottom: 16px;
}
}.footer__search._focus svg {
    opacity: 1;
    fill: #005ac7;
}
.footer__search-input {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    background-color: #fff;
    color: #333;
    padding: 6px 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #dfdfdf;
}
.footer__search-input::-webkit-input-placeholder {
    color: #b0b0b0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.footer__search-input::-moz-placeholder {
    color: #b0b0b0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
}
.footer__search-input:-ms-input-placeholder {
    color: #b0b0b0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.footer__search-input:-moz-placeholder {
    color: #b0b0b0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.footer__search-input:hover {
    border-color: #a3c0ea;
}
.footer__search-input:focus {
    -webkit-box-shadow: 0 6px 4px -4px rgba(130, 166, 233, .27);
    box-shadow: 0 6px 4px -4px rgba(130, 166, 233, .27);
    border: 2px solid #a3c0ea;
    background-color: #f2f7ff;
}
.footer__search-input._disabled, .footer__search-input[disable=true] {
    -webkit-box-shadow: inset 0 0 0 2px #ddd;
    box-shadow: inset 0 0 0 2px #ddd;
    background-color: #f4f4f4;
    color: #b0b0b0;
}
.footer__search-sbt {
    position: absolute;
    right: 8px;
    top: 4px;
    width: 32px;
    height: 32px;
    -webkit-appearance: none;
    background: 0 0;
    border: none;
    outline: 0;
    padding: 0;
}
.footer__search-sbt svg {
    opacity: .4;
    fill: #333;
    width: 32px;
    height: 32px;
}
@font-face {
    font-family: "Fira Sans";
    font-weight: 300;
    font-style: normal;
    src: url(/g/fonts/fira_sans/fira_sans-l.eot);
    src: url(/g/fonts/fira_sans/fira_sans-l.eot?#iefix) format("embedded-opentype"), url(/g/fonts/fira_sans/fira_sans-l.woff) format("woff"), url(/g/fonts/fira_sans/fira_sans-l.ttf) format("truetype"), url(/g/fonts/fira_sans/fira_sans-l.woff2), url("/g/fonts/fira_sans/fira_sans-l.svg#Fira Sans") format("svg");
}
@font-face {
    font-family: "Fira Sans";
    font-weight: 400;
    font-style: normal;
    src: url(/g/fonts/fira_sans/fira_sans-r.eot);
    src: url(/g/fonts/fira_sans/fira_sans-r.eot?#iefix) format("embedded-opentype"), url(/g/fonts/fira_sans/fira_sans-r.woff) format("woff"), url(/g/fonts/fira_sans/fira_sans-r.ttf) format("truetype"), url(/g/fonts/fira_sans/fira_sans-r.woff2), url("/g/fonts/fira_sans/fira_sans-r.svg#Fira Sans") format("svg");
}
@font-face {
    font-family: "Fira Sans";
    font-weight: 500;
    font-style: normal;
    src: url(/g/fonts/fira_sans/fira_sans-m.eot);
    src: url(/g/fonts/fira_sans/fira_sans-m.eot?#iefix) format("embedded-opentype"), url(/g/fonts/fira_sans/fira_sans-m.woff) format("woff"), url(/g/fonts/fira_sans/fira_sans-m.ttf) format("truetype"), url(/g/fonts/fira_sans/fira_sans-m.woff2), url("/g/fonts/fira_sans/fira_sans-m.svg#Fira Sans") format("svg");
}
@font-face {
    font-family: "Fira Sans";
    font-weight: 700;
    font-style: normal;
    src: url(/g/fonts/fira_sans/fira_sans-b.eot);
    src: url(/g/fonts/fira_sans/fira_sans-b.eot?#iefix) format("embedded-opentype"), url(/g/fonts/fira_sans/fira_sans-b.woff) format("woff"), url(/g/fonts/fira_sans/fira_sans-b.ttf) format("truetype"), url(/g/fonts/fira_sans/fira_sans-b.woff2), url("/g/fonts/fira_sans/fira_sans-b.svg#Fira Sans") format("svg");
}
body, html {
    font-family: 'Fira Sans', sans-serif;
    color: #333;
}